<div class='w-full h-full px-[20px] pt-[80px]'>
    <div class='w-full flex relative'>
        <!-- search component -->
        <div class='absolute right-0 flex justify-end gap-6'>
            <!-- manipulate nav component-->
        </div>
    </div>
    <div class="relative w-full overflow-x-auto shadow-md sm:rounded-lg">
        <table id='usertable' class="w-full text-sm text-left text-gray-500 ">
            <thead class="text-xs text-gray-900 uppercase bg-gray-400">
                <tr>
                    <th scope="col" class="px-6 py-3">
                        Name
                    </th>
                    <th scope="col" class="px-6 py-3">
                        Email
                    </th>
                    <th scope="col" class="px-6 py-3">
                        Gender
                    </th>
                    <th scope="col" class="px-6 py-3">
                        state
                    </th>
                    <th scope="col" class="px-6 py-3">
                        Address
                    </th>
                    <th scope="col" class="px-12 py-3">
                        DOB
                    </th>
                    <th scope="col" class="px-6 py-3 text-center">
                        Action
                    </th>
                    <th scope="col" class="px-6 py-3 text-center">
                        Image
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr class="bg-gray-700 text-gray-400">
                    <td class="px-6 py-[10px]">rohit</td>
                    <td class="px-6 py-[10px]">arohit0102@gmail.com</td>
                    <td class="px-6 py-[10px]">Male</td>
                    <td class="px-6 py-[10px]">West Bengal</td>
                    <td class="px-6 py-[10px]">Kolkata</td>
                    <td class="px-6 py-[10px]">01/02/2000</td>
                    <td class="px-6 py-[10px] w-full flex gap-4 items-center justify-center mt-[10px]">
                        <a href='/edit?id=no' class="text-gray-400 font-semibold hover:text-green-500">Edit</a>
                        <button id="dropdownDefaultButton" data-dropdown-toggle="delete_Dropdown"
                            class="relative font-semibold hover:text-red-600 ml-2" type="button">Delete</button>
                        <div id="delete_Dropdown"
                            class="hidden text-white bg-red-700 hover:bg-red-900 focus:ring-4 focus:outline-none focus:ring-red-300 font-medium rounded-lg text-xs px-3 py-1.5 mr-2 text-center items-center dark:bg-red-600 dark:hover:bg-red-700 dark:focus:ring-red-800">
                            <a href='/delete?id=' class="text-gray-50 hover:text-gray-200">Are you Sure</a>
                        </div>
                    </td>
                    <td class="px-6 py-[10px] text-center"> <img class="w-10 h-10 rounded-full"
                            src="asset('storage/uploads/'.$data->imagepath) : asset('assets/images/default.jpg') }}"
                            alt="user photo"> </td>
                </tr>
                <!-- <app-table-data></app-table-data> -->
            </tbody>
        </table>
    </div>
</div>