<div class='w-full h-full px-[20px] pt-[80px]'>
    <div class='w-full flex relative'>
        <!-- search component -->
        <div class='absolute right-0 flex justify-end gap-6'>
            <!-- manipulate nav component-->
        </div>
    </div>
    <div class="relative w-full overflow-x-auto shadow-md sm:rounded-lg">
        <table id='usertable' class="w-full text-sm text-left text-gray-500 ">
            <thead class="text-xs text-gray-900 uppercase bg-gray-400">
                <tr>
                    <th scope="col" class="px-6 py-3">
                        Name
                    </th>
                    <th scope="col" class="px-6 py-3">
                        Email
                    </th>
                    <th scope="col" class="px-6 py-3">
                        Gender
                    </th>
                    <th scope="col" class="px-6 py-3">
                        state
                    </th>
                    <th scope="col" class="px-6 py-3">
                        Address
                    </th>
                    <th scope="col" class="px-12 py-3">
                        DOB
                    </th>
                    <th scope="col" class="px-6 py-3 text-center">
                        Action
                    </th>
                    <th scope="col" class="px-6 py-3 text-center">
                        Image
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let userData of usersData" app-table-data [userData]="userData" class="bg-gray-700 text-gray-400" ></tr>
            </tbody>
        </table>
    </div>
</div>