<app-nav></app-nav>
<main class='h-full -mt-[50px] pt-[50px] p-[10px]'>
    <!-- main table -->
    <app-main-table></app-main-table>

    <!-- create form compo -->
    <!-- <app-create></app-create> -->

    <!-- log in form compo -->
    <!-- <app-login></app-login> -->

    <!-- register form compo -->
    <!-- <app-register></app-register> -->

    <!-- updateuser form compo -->
    <!-- <app-update-user></app-update-user> -->

    <!-- searchuser compo -->
    <!-- <app-search-user></app-search-user> -->


</main>
<app-footer></app-footer>